In [15]:
a = [1,2,3,4,5,6]
b = [13,21,34]

In [16]:
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [17]:
a = [1,2,3,4,5,6]
b = [13,21,34]

In [18]:
a.append(b)
print(a)
print(b)

[1, 2, 3, 4, 5, 6, [13, 21, 34]]
[13, 21, 34]

In [19]:
import numpy as np

np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [23]:
import pandas as pd

In [100]:
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"

fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [35]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].describe()

                       count         mean  ...       75%         max
fuel_type_code_pudl                        ...
coal                  8547.0    67.421830  ...  44.66800   44033.320
gas                  11486.0    13.659397  ...   6.96000   10490.000
nuclear                818.0  4955.157002  ...  50.85525   69785.215
oil                   8064.0   168.877086  ...  98.68925  139358.000
other                  167.0    18.253856  ...  20.05500     134.547
waste                  441.0    19.518122  ...  32.65000     132.291

[6 rows x 8 columns]

In [38]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

In [44]:
fuel_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [48]:
round(fuel_data['fuel_qty_burned'].skew(),2)

15.85

In [49]:
round(fuel_data['fuel_qty_burned'].kurt(),2)

651.37

In [50]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [52]:
fuel_data.shape

(29523, 11)

In [58]:
round(180/29523*100,3)

0.61

In [62]:
fuel_data['fuel_unit']

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [63]:
fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [70]:
fuel_data.corr()['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [71]:
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [79]:
cols = ['fuel_type_code_pudl','fuel_cost_per_unit_burned','report_year']
new_data = fuel_data[cols]
new_data

      fuel_type_code_pudl  fuel_cost_per_unit_burned  report_year
0                    coal                      18.59         1994
1                    coal                      18.58         1994
2                    coal                      39.72         1994
3                    coal                      47.21         1994
4                     gas                       2.77         1994
...                   ...                        ...          ...
29518                 gas                       4.78         2018
29519                 gas                       3.65         2018
29520                 gas                       4.77         2018
29521                coal                       3.06         2018
29522                 gas                       0.00         2018

[29523 rows x 3 columns]

In [96]:
new_df2 = new_data.loc[new_data['fuel_type_code_pudl'] == 'coal']
new_df3 = new_df2.loc[new_df2['report_year'].isin([1998,1994])]

In [97]:
new_df3.pct_change

<bound method NDFrame.pct_change of fuel_type_code_pudl          coalcoalcoalcoalcoalcoalcoalcoalcoalcoalcoalco...
fuel_cost_per_unit_burned                                              26887.2
report_year                                                            1808288
dtype: object>

In [101]:
fuel_data.groupby('fuel_cost_per_unit_delivered')['fuel_cost_per_unit_delivered']