<font size = '15px' font color='navy'>The Complete Machine Learning Externship:</font> 

<font size = '6px' font color='red'>Weekly ML Code Club:001</font>

<font size  = 5 font color = 'blue'>Data Wrangling <font/>

Add more here later...describing the objective the project... 

Useful references


*   [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html)
*   [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)

### Load Data

In [1]:
# Import all necessary libraries 
import pandas as pd
import numpy as np

In [2]:
# Declare a variable for each csv file and read the data
cellPhone_url = "https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/cell_phones.csv"
population_url = "https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/population1.csv"
geoCountry_url = "https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv"

cellPhone_df = pd.read_csv(cellPhone_url)
population_df = pd.read_csv(population_url)
geoCountry_df = pd.read_csv(geoCountry_url)

In [3]:
print(cellPhone_df.head())
print(cellPhone_df.ndim)
print(cellPhone_df.shape)

       Country  year  cell_phones_total
0  Afghanistan  1960                0.0
1  Afghanistan  1961                0.0
2  Afghanistan  1962                0.0
3  Afghanistan  1963                0.0
4  Afghanistan  1964                0.0
2
(11640, 3)

In [4]:
print(population_df.head())
print(population_df.ndim)
print(population_df.shape)

       Country  year  population
0  Afghanistan  1800     3280000
1  Afghanistan  1801     3280000
2  Afghanistan  1802     3280000
3  Afghanistan  1803     3280000
4  Afghanistan  1804     3280000
2
(58695, 3)

In [5]:
print(geoCountry_df.head())
print(geoCountry_df.ndim)
print(geoCountry_df.shape)

  country g77_and_oecd_countries  ... world_4region        world_6region
0    abkh                 others  ...        europe  europe_central_asia
1     abw                 others  ...      americas              america
2     afg                    g77  ...          asia           south_asia
3     ago                    g77  ...        africa   sub_saharan_africa
4     aia                 others  ...      americas              america

[5 rows x 21 columns]
2
(273, 21)

### Join Data



*   [Pandas merge() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)
*   [Pandas rename() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [6]:
# Join the "cellphones" and 'population' dataframe (with an inner join on country and year)
cell_popl_df = pd.merge(cellPhone_df, population_df, how = 'inner', on=['Country','year'])
cell_popl_df.head()

       Country  year  cell_phones_total  population
0  Afghanistan  1960                0.0     9000000
1  Afghanistan  1961                0.0     9170000
2  Afghanistan  1962                0.0     9350000
3  Afghanistan  1963                0.0     9540000
4  Afghanistan  1964                0.0     9740000

In [7]:
cell_popl_df.shape

(11640, 4)

In [8]:
rename_cols = {'country':'geo', 'name':'Country'}
geoCountry_df.rename(columns = rename_cols, inplace = True)
geoCountry_df.head()

    geo g77_and_oecd_countries  ... world_4region        world_6region
0  abkh                 others  ...        europe  europe_central_asia
1   abw                 others  ...      americas              america
2   afg                    g77  ...          asia           south_asia
3   ago                    g77  ...        africa   sub_saharan_africa
4   aia                 others  ...      americas              america

[5 rows x 21 columns]

In [9]:
cell_popl_geo_df = pd.merge(cell_popl_df, geoCountry_df[['geo','Country']], how = 'left', on= 'Country')
cell_popl_geo_df.head()

       Country  year  cell_phones_total  population  geo
0  Afghanistan  1960                0.0     9000000  afg
1  Afghanistan  1961                0.0     9170000  afg
2  Afghanistan  1962                0.0     9350000  afg
3  Afghanistan  1963                0.0     9540000  afg
4  Afghanistan  1964                0.0     9740000  afg

In [10]:
cell_popl_geo_df.shape

(11640, 5)

### Make Features 


*   [str.upper() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.upper.html#pandas.Series.str.upper)

In [11]:
# Calculate the number of cell phones per person, and add this column onto the df

# cell_popl_geo_df.cell_phones_total/cell_popl_geo_df.population
num_cell_phones_per_person = cell_popl_geo_df['cell_phones_total']/cell_popl_geo_df['population']
cell_popl_geo_df['num_cell_phones_per_person'] = num_cell_phones_per_person
cell_popl_geo_df

           Country  year  ...  geo  num_cell_phones_per_person
0      Afghanistan  1960  ...  afg                    0.000000
1      Afghanistan  1961  ...  afg                    0.000000
2      Afghanistan  1962  ...  afg                    0.000000
3      Afghanistan  1963  ...  afg                    0.000000
4      Afghanistan  1964  ...  afg                    0.000000
...            ...   ...  ...  ...                         ...
11635     Zimbabwe  2015  ...  zwe                    0.927536
11636     Zimbabwe  2016  ...  zwe                    0.921429
11637     Zimbabwe  2017  ...  zwe                    0.992958
11638     Zimbabwe  2018  ...  zwe                    0.895833
11639     Zimbabwe  2019  ...  zwe                    0.904110

[11640 rows x 6 columns]

In [12]:
cond_1 = cell_popl_geo_df['Country'] == 'United States'
cond_2 = cell_popl_geo_df['year'] == 2017
cell_popl_geo_df[(cond_1) & (cond_2) ]

             Country  year  ...  geo  num_cell_phones_per_person
11157  United States  2017  ...  usa                    1.230769

[1 rows x 6 columns]

In [13]:
print(round(cell_popl_geo_df[(cond_1) & (cond_2) ].iat[0,5],6))

1.230769

In [14]:
assert 1.230769 == round(cell_popl_geo_df[(cond_1) & (cond_2) ].iat[0,5],6)
print('condition returned True (no AssertionError)')

condition returned True (no AssertionError)

In [15]:
cell_popl_geo_df['geo'] = cell_popl_geo_df['geo'].str.upper()
cell_popl_geo_df.head()

       Country  year  ...  geo  num_cell_phones_per_person
0  Afghanistan  1960  ...  AFG                         0.0
1  Afghanistan  1961  ...  AFG                         0.0
2  Afghanistan  1962  ...  AFG                         0.0
3  Afghanistan  1963  ...  AFG                         0.0
4  Afghanistan  1964  ...  AFG                         0.0

[5 rows x 6 columns]

### Process Data 

* [describe() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)

In [16]:
# Generate descriptive statistics for numeric columns 
# cell_popl_geo_df.describe(include = [np.number])
cell_popl_geo_df.describe()

               year  ...  num_cell_phones_per_person
count  11640.000000  ...                11640.000000
mean    1989.500000  ...                    0.235536
std       17.318846  ...                    0.433303
min     1960.000000  ...                    0.000000
25%     1974.750000  ...                    0.000000
50%     1989.500000  ...                    0.000000
75%     2004.250000  ...                    0.233667
max     2019.000000  ...                    2.126068

[8 rows x 4 columns]

In [17]:
# Generate descriptive statistics for non-numeric columns 
cell_popl_geo_df.describe(exclude=[np.number])

       Country    geo
count    11640  11640
unique     194    194
top     Belize    KNA
freq        60     60

In [18]:
assert 1960 == round(cell_popl_geo_df.describe(include=[np.number]).iat[3,0])
assert 2019 == round(cell_popl_geo_df.describe(include=[np.number]).iat[7,0])

assert 194 == cell_popl_geo_df.describe(exclude=[np.number]).iat[1,0]
print('condition returned True (no AssertionError)')

condition returned True (no AssertionError)

In [19]:
# top 5 countries with the most cell phones total 
cell_popl_geo_2017_df = cell_popl_geo_df[cell_popl_geo_df['year'] == 2017]
final_df = cell_popl_geo_2017_df[['Country', 'cell_phones_total']].nlargest(5,'cell_phones_total')
final_df.reset_index(drop=True)

         Country  cell_phones_total
0          China       1.470000e+09
1          India       1.170000e+09
2      Indonesia       4.350000e+08
3  United States       4.000000e+08
4         Russia       2.270000e+08